<%- include common/header.ejs %>

<ul class="nav nav-pills">
    <li id="by7days"><a href="/co2Avoided/by7days">7 Days</a></li>
    <li id="bymonth"><a href="/co2Avoided/bymonth">12 Months</a></li>
    <li id="byyear"><a href="/co2Avoided/byyear">Year</a></li>
    <li id="bytotal"><a href="/co2Avoided/bytotal">Total</a></li>
</ul>
<input name="period" id="period" value="<%= period %>" type="hidden"/>

<%- include common/datepicker.ejs %>
<div id="echarts" style="width: 888px; height: 400px; margin: 0"></div>
</div>
</div>

<script>
    $(function () {


        $("#co2Avoided").addClass('active');
        var period = $("#period").val();
        $("#" + period).addClass('active');

        var date = $("#dtp_input2").val();

        var startView = 2;
        var minView = 2;
        if (period === 'bymonth') {
            startView = 3;
            minView = 3;
        } else if (period === 'byyear') {
            startView = 4;
            minView = 4;
        } else if (period === 'bytotal') {
            $(".form-group").hide();
            date = "current";
        }

        $('.form_date').datetimepicker({
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: startView,
            minView: minView,
            forceParse: 0
        }).on('changeDate', function (ev) {
            showCharts(period, $("#dtp_input2").val());
        });

        var myChart = echarts.init(document.getElementById('echarts'));

        var showCharts = function (period, date) {

            myChart.showLoading({
                text: 'Loading...',
                effect: 'whirling'
            });

            $.getJSON('/co2AvoidedInfo/' + period + '/' + date, function (data) {
                myChart.hideLoading();

                var xdata = [];
                var ydata = [];
                var unit = data.dataunit;

                data = data.data;

                $.each(data, function (key, val) {
                    xdata.push(val.date);
                    ydata.push(val.value);
                });

                myChart.setOption({
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['CO2 Avoided']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataZoom: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            data: xdata
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} ' + unit
                            },
                            splitArea: {show: true},
                            precision: 1
                        }
                    ],
                    series: [
                        {
                            name: 'CO2 Avoided',
                            type: 'bar',
                            data: ydata
                        }
                    ]
                });
            }).error(function () {
                $(".alert").css('display', 'block');
                myChart.clear();
                myChart.dispose();
            });
        };
        showCharts(period, date);
    })
</script>
<%- include common/footer.ejs %>