<%- include common/header.ejs%>
<div class="container-fluid">
    <%- include common/menu.ejs%>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <ul class="nav nav-pills">
            <li class="active"><a href="#">Days</a></li>
            <li><a href="#">Months</a></li>
            <li><a href="#">Year</a></li>
            <li><a href="#">Total</a></li>
        </ul>
        <div id="echarts" style="width: 888px; height: 400px; margin: 0"></div>
    </div>
</div>
<script>
    $("#power").addClass('active');
    var myChart = echarts.init(document.getElementById('echarts'));

    $.getJSON('/powerInfo/bydays/2014-04-11', function (data) {
        var xdata = [];
        var ydata = [];
        data = data.data;

        $.each(data, function (key, val) {

            xdata.push(val.time);
            ydata.push(val.value);
        });

        myChart.setOption({
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['发电量']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataZoom: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            dataZoom: {
                show: true,
                height: 20,
                backgroundColor: 'rgba(221,160,221,0.5)',
                dataBackgroundColor: 'rgba(138,43,226,0.5)',
                fillerColor: 'rgba(38,143,26,0.6)',
                handleColor: 'rgba(128,43,16,0.8)',
                start: 0,
                end: 10
            },
            xAxis: [
                {
                    type: 'category',
                    data: xdata
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    splitArea: {show: true}
                }
            ],
            series: [
                {
                    name: '发电量',
                    type: 'bar',
                    data: ydata
                }
            ]
        });
    });

</script>
<%- include common/footer.ejs %>