<%- include common/header.ejs %>
<h1 class="page-header">Power</h1>

<ul class="nav nav-pills">
    <li id="bydays"><a href="/e_power/bydays">Day</a></li>
    <li id="bymonth"><a href="/e_power/bymonth">Daily</a></li>
    <li id="byyear"><a href="/e_power/byyear">Monthly</a></li>
    <li id="bytotal"><a href="/e_power/bytotal">Annual</a></li>
</ul>
<input name="period" id="period" value="<%= period %>" type="hidden"/>

<%- include common/datepicker.ejs %>
<div id="echarts" style="width: 100%; height: 400px; margin: 0"></div>

<hr/>
<footer>
    <div class="footer-inner">
        2014 &copy; Jiangsu Zeversolar New Energy Co.,Ltd
    </div>
</footer>
</div>
</div>
<script>
    $(function () {

        var dateFormat="YYYY-MM-DD";
        var dateType = "days";

        $("#power").addClass('active');
        var period = $("#period").val();
        $("#" + period).addClass('active');

        var date = $("#dtp_input2").val();
        var startView = 2;
        var minView = 2;
        if (period === 'bymonth') {
            startView = 3;
            minView = 3;
            dateFormat='YYYY-MM';
            dateType='months';
        } else if (period === 'byyear') {
            startView = 4;
            minView = 4;
            dateFormat='YYYY';
            dateType='years';
        } else if (period === 'bytotal') {
            $(".form-group").hide();
            date = "current";
        }

        $('.form_date').datetimepicker({
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: startView,
            minView: minView,
            forceParse: 0,
            pickerPosition: "bottom"
        }).on('changeDate', function (ev) {
            showCharts(period, $("#dtp_input2").val());
        });
        $(".prepDate").on('click', function () {
            var currDate = $("#dtp_input2").val();
            var now = moment(currDate).subtract(1,dateType).format(dateFormat);

            $("#dtp_input2").val(now);
            $('.form_date').trigger('changeDate');
        });
        $(".nextDate").on('click', function () {
            var currDate = $("#dtp_input2").val();
            var now = moment(currDate).add(1,dateType).format(dateFormat);

            $("#dtp_input2").val(now);
            $('.form_date').trigger('changeDate');
        });
        var myChart = echarts.init(document.getElementById('echarts'));

        var showCharts = function (period, date) {

            $(window).resize(function () {
                myChart.resize();
            });

            myChart.showLoading({
                x:130,
                y:50,
                text: 'Loading...',
                effect: 'whirling'
            });

            $.getJSON('/powerInfo/' + period + '/' + date, function (data) {

                myChart.hideLoading();

                var xdata = [];
                var ydata = [];
                var unit = data.dataunit;
                data = data.data;

                $.each(data, function (key, val) {

                    xdata.push(val.time);
                    ydata.push(val.value);
                });

                var option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['Power']
                    },
                    grid: {
                        x: 30,
                        y: 25,
                        x2: 1,
                        y2: 30
                    },

                    calculable: false,

                    xAxis: [
                        {
                            type: 'category',
                            data: xdata,
                            boundaryGap: true
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: unit,
                            axisLabel: {
                                formatter: '{value}'
                            },
                            splitArea: {show: false},
                            precision: 1,
                            splitNumber:5
                        }
                    ],
                    series: [
                        {
                            name: 'Power',
                            type: 'bar',
                            smooth: true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data: ydata
                        }
                    ]
                };
                myChart.setOption(option);

                if (period === 'bydays' || period === 'bytotal') {

                    option.series[0].type = 'line';

                    myChart.setOption(option);
                }
            }).error(function () {
                $(".alert").css('display', 'block');
                myChart.clear();
                myChart.dispose();
            });
        };

        showCharts(period, date);
    })
</script>
<%- include common/footer.ejs %>