<%- include common/header.ejs %>
<div class="container-fluid">
    <%- include common/menu.ejs %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="form-group">
            <!-- start date -->
            <label for="dtp_start" style="padding-top: 5px;padding-left: 0;"
                   class="col-md-2 control-label">Start Time</label>

            <div class="input-group date form_date_s col-md-5" data-date="" data-date-format="yyyy-mm-dd"
                 data-link-field="dtp_start" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="" readonly="">

                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" id="dtp_start" value=""><br>

            <!-- end date -->
            <label for="dtp_end" style="padding-top: 5px;padding-left: 0;" class="col-md-2 control-label">End
                Time</label>

            <div class="input-group date form_date_e col-md-5" data-date="" data-date-format="yyyy-mm-dd"
                 data-link-field="dtp_end" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="" readonly="">

                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" id="dtp_end" value=""><br>
        </div>

        <table class="table table-hover">
            <tr id="eventData">
                <th>#ssno</th>
                <th>eventCode</th>
                <th>eventType</th>
                <th>eventTime</th>
            </tr>
        </table>
    </div>
</div>
<script>
    $("#event").addClass('active');
    $.getJSON('/station_evn_info?sdate=2013-06-15&edate=2013-06-18', function (data) {
        data = data.data;
        var trs = "";
        $.each(data, function (key, val) {
            trs += "<tr>";
            trs += "<td>" + val.ssno + "</td>" + "<td>" + val.eventCode + "</td>";
            trs += "<td>" + val.eventType + "</td>" + "<td>" + val.eventTime + "</td>";
            trs += "</tr>";
        });
        $("#eventData").after(trs);
    }).error(function () {
        alert('read time out ,pls try again!');
    });

    $('.form_date_s').datetimepicker({
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    }).on('changeDate', function (ev) {

    });

    $('.form_date_e').datetimepicker({
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    }).on('changeDate', function (ev) {

    });
</script>
<%- include common/footer.ejs %>