
<!--<script src="/js/jquery.ba-resize.min.js"></script>-->
<!--<script src="/js/moment.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<!--<script src="/bootstrap/js/bootstrap.min.js"></script>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/echarts/echarts-plain.js"></script>

</body>
</html>