<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width user-scalable=no">
    <title><%= title%></title>
    <!--<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="screen">-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/bootstrap-datetimepicker.min.css" media="screen"/>
    <link rel="stylesheet" href="/style/dashboard.css"/>
    <style>
        .form-group{
            margin-top: 5px;
        }
        .thumbnail {
            cursor: pointer;
        }

        .thumbnail :hover {
            color: #2a6496;
        }
        #footer {
            height: 60px;
            background-color: #f5f5f5;
        }
        .alert{
            display: none;
        }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-phone"></span>&nbsp;Zevercloud</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Overview</a></li>
                <li><a href="/plant/e_power/bydays">Power&Energy</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Search...">-->
            <!--</form>-->
        </div>
    </div>
</div>

<!--<script src="/js/jquery-1.11.1.min.js"></script>-->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<div class="container">

    <div class="main">

        <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Oh snap! You got an error!</h4>
            <p>Request time out (default 5s) or response data error, the data is response from solarcloud. Change this and that and try again. . .</p>
            <p>
                <button type="button" class="btn btn-danger">Take this action</button>
                <button type="button" class="btn btn-default">Or do this</button>
            </p>
        </div>