<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li id="index"><a href="/">Station Dynamic Info</a></li>
        <li id="event"><a href="/station_env">Station Event Info</a></li>
        <li id="power"><a href="/e_power/bydays">Energy & Power</a></li>
        <li id="yield"><a href="/yield/by7days">Yield</a></li>
        <li id="co2Avoided"><a href="/co2Avoided/by7days">CO2 Avoided</a></li>
    </ul>
</div>
