<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li id="index"><a href="/">Station Dynamic Info</a></li>
            <li id="power"><a href="/e_power/bydays">Energy & Power</a></li>
            <li id="yield"><a href="/yield">Yield</a></li>
            <li id="co2Avoided"><a href="/co2Avoided">CO2 Avoided</a></li>
        </ul>
    </div>
</div>